### Importing libraries...

In [1]:
import requests
from pymongo import MongoClient
import pandas as pd
import re
import json
from pandas.io.json import json_normalize
import os
import numpy as np

### Importing Companies Data

In [2]:
dbName = "companies.json"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

### Verifying amount of companies of potential chosen country

In [3]:
data = db.companies.aggregate([{"$group":{"_id":"$offices.country_code","count":{"$sum":1}}}])
countries = list(data)

In [4]:
countries

[{'_id': ['USA', 'IND'], 'count': 35},
 {'_id': ['GBR', 'DEU'], 'count': 2},
 {'_id': ['USA', 'ISR'], 'count': 17},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['FRA', 'FRA', 'MUS'], 'count': 1},
 {'_id': ['GBR', 'USA', 'AUS', 'ESP', 'NLD', 'HKG'], 'count': 1},
 {'_id': ['CHN', 'CHN'], 'count': 2},
 {'_id': ['TUN'], 'count': 2},
 {'_id': ['IND', 'IND', 'IND', 'IND'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'IND'], 'count': 1},
 {'_id': ['JPN', 'GBR', 'JOR'], 'count': 1},
 {'_id': ['CAN', 'SGP', 'USA', 'USA', 'GBR', 'CHE', 'JPN'], 'count': 1},
 {'_id': ['GBR', 'IND'], 'count': 1},
 {'_id': ['DEU', 'TWN'], 'count': 2},
 {'_id': ['BEL', 'GBR'], 'count': 1},
 {'_id': ['GBR', 'GBR', 'DEU'], 'count': 1},
 {'_id': ['MAR', 'NLD'], 'count': 2},
 {'_id': ['GRC'], 'count': 14},
 {'_id': ['CAN', 'IND'], 'count': 1},
 {'_id': ['BIH'], 'count': 1},
 {'_id': ['USA', 'TWN', 'JPN', 'KOR', 'ARE'], 'count': 1},
 {'_id': ['USA', 'IND', 'IND'], 'count': 4},
 {'_id': ['USA', 'CZE', 'USA'], 'count': 1},
 {'_id': ['ESP'], 'count': 147},
 {'_id': ['BEL', 'BEL'], 'count': 1},
 {'_id': ['DNK'], 'count': 37},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'NLD', 'GBR'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA'], 'count': 4},
 {'_id': ['GBR',
   'USA',
   'USA',
   'USA',
   'GBR',
   'USA',
   'DEU',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['USA', 'GBR', 'SGP'], 'count': 1},
 {'_id': ['USA', 'GBR', 'LKA'], 'count': 1},
 {'_id': ['PRT', 'PRT'], 'count': 1},
 {'_id': ['USA', 'SWE'], 'count': 3},
 {'_id': ['USA', 'FRA', 'KOR'], 'count': 1},
 {'_id': ['USA', 'CZE'], 'count': 3},
 {'_id': ['USA', 'USA', 'FRA', 'USA', 'USA'], 'count': 1},
 {'_id': ['FRA', 'SWE', 'NOR'], 'count': 1},
 {'_id': ['NLD', 'SWE', 'USA', 'GBR', 'DEU', 'ESP', 'FRA', 'JPN', 'AUS'],
  'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['IND', 'GBR', 'USA'], 'count': 1},
 {'_id': ['GBR', 'USA', 'CHN', 'IND', 'JPN'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['AUS', 'AUS', 'AUS', 'NZL'], 'count': 1},
 {'_id': ['USA'], 'count': 8009},
 {'_id': ['USA', 'GBR', 'IND', 'USA'], 'count': 1},
 {'_id': ['SGP', 'SGP'], 'count': 1},
 {'_id': ['USA', 'ROM', 'USA'], 'count': 1},
 {'_id': ['SAU'], 'count': 3},
 {'_id': ['CHN', 'GBR', 'ARE', 'USA', 'GRC', 'AUS', 'GBR', 'USA'], 'count': 1},
 {'_id': ['ISR', 'TUR', 'RUS', 'ARG'], 'count': 2},
 {'_id': ['SGP', 'MYS'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'GBR', 'USA'], 'count': 1},
 {'_id': ['USA', 'KOR'], 'count': 1},
 {'_id': ['LBN', 'USA'], 'count': 1},
 {'_id': ['USA', 'AUS', 'GBR'], 'count': 2},
 {'_id': ['USA', 'TWN'], 'count': 1},
 {'_id': ['USA', 'CAN', 'POL'], 'count': 1},
 {'_id': ['GBR', 'USA', 'GBR'], 'count': 2},
 {'_id': ['ISL'], 'count': 6},
 {'_id': ['CAN', 'USA', 'CHE'], 'count': 1},
 {'_id': ['DEU', 'GBR', 'HKG', 'FRA'], 'count': 1},
 {'_id': ['USA', 'AUS', 'DEU'], 'count': 1},
 {'_id': ['FIN', 'NOR', 'EST', 'LVA', 'LTU'], 'count': 1},
 {'_id': ['UKR', 'DNK'], 'count': 1},
 {'_id': ['USA', 'USA', 'CHL', 'USA'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['CHL', 'IND', 'IND', 'USA'], 'count': 1},
 {'_id': ['URY'], 'count': 5},
 {'_id': ['AUS', 'UKR', 'USA'], 'count': 1},
 {'_id': ['ESP', 'USA', 'GBR'], 'count': 2},
 {'_id': ['USA', 'GBR', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'GBR',
   'GBR',
   'AUS'],
  'count': 1},
 {'_id': ['AUS', 'GBR'], 'count': 1},
 {'_id': ['USA', 'GBR', 'DEU'], 'count': 5},
 {'_id': ['USA', 'ITA', 'BRA'], 'count': 1},
 {'_id': ['PRT', 'GBR'], 'count': 1},
 {'_id': ['GBR', 'NZL', 'USA'], 'count': 1},
 {'_id': ['USA', 'CAN'], 'count': 19},
 {'_id': ['FRA', 'USA', 'USA'], 'count': 3},
 {'_id': ['ANT'], 'count': 1},
 {'_id': ['USA', 'CHE', 'DEU'], 'count': 1},
 {'_id': ['SWE', 'USA', 'SWE'], 'count': 1},
 {'_id': ['USA', 'USA', 'CHN', 'GBR'], 'count': 1},
 {'_id': ['USA', 'CHN', 'USA'], 'count': 2},
 {'_id': ['USA', 'GBR', 'MYS', 'USA'], 'count': 1},
 {'_id': ['DOM'], 'count': 2},
 {'_id': ['ITA',
   'ITA',
   'ARG',
   'AUS',
   'AUT',
   'NLD',
   'BRA',
   'FIN',
   'FRA',
   'DEU',
   'GRC',
   'HKG',
   'IND',
   'IRL',
   'MEX',
   'NGA',
   'NOR',
   'PRT',
   'RUS',
   'ESP',
   'ZAF',
   'CHE',
   'TUR',
   'GBR',
   'USA'],
  'count': 1},
 {'_id': ['CAN', 'CAN'], 'count': 3},
 {'_id': ['SGP', 'USA', 'CHN', 'CHN', 'AUS', 'MYS'], 'count': 1},
 {'_id': ['GBR', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['SGP', 'USA', 'IND'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'GBR',
   'FRA',
   'JPN'],
  'count': 1},
 {'_id': ['IND', 'IND', 'IND'], 'count': 1},
 {'_id': ['CAN', 'USA'], 'count': 15},
 {'_id': ['USA', 'BGD'], 'count': 2},
 {'_id': ['HKG'], 'count': 20},
 {'_id': ['HUN', 'ROM', 'FRA', 'UKR', 'RUS', 'SGP'], 'count': 1},
 {'_id': ['AUS', 'NZL', 'CHN', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'IND'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'DEU'], 'count': 1},
 {'_id': ['USA', 'JPN', 'USA', 'USA', 'GBR', 'DEU', 'ESP'], 'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'MYS'], 'count': 1},
 {'_id': ['NZL', 'NZL', 'AUS', 'USA', 'AUS', 'AUS', 'GBR'], 'count': 1},
 {'_id': ['DEU', 'DEU', 'DEU', 'DEU'], 'count': 1},
 {'_id': ['ESP', 'ESP', 'ESP'], 'count': 1},
 {'_id': ['GBR', 'USA', 'CHN'], 'count': 1},
 {'_id': ['USA', 'USA', 'NLD'], 'count': 3},
 {'_id': ['IRL', 'ESP'], 'count': 1},
 {'_id': ['USA', 'USA', 'TWN'], 'count': 1},
 {'_id': ['FRA', 'ROM'], 'count': 1},
 {'_id': ['BGD'], 'count': 2},
 {'_id': ['IND', 'AUS', 'USA'], 'count': 1},
 {'_id': ['USA', 'BEL'], 'count': 2},
 {'_id': ['USA', 'ARG', 'DEU'], 'count': 1},
 {'_id': ['TUR', 'IND'], 'count': 1},
 {'_id': ['SDN'], 'count': 2},
 {'_id': ['USA', 'USA', 'GBR', 'ISR'], 'count': 1},
 {'_id': ['USA',
   'GBR',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'ISR',
   'TUR',
   'CHE',
   'DEU'],
  'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'JPN', 'DEU'], 'count': 1},
 {'_id': ['BEL', 'USA', 'FRA', 'NLD'], 'count': 1},
 {'_id': ['IND', 'USA', 'GBR', 'GBR', 'IND'], 'count': 1},
 {'_id': ['NLD', 'BEL'], 'count': 1},
 {'_id': ['DEU', 'DEU', 'FRA'], 'count': 1},
 {'_id': ['IRL', 'GBR', 'USA', 'IRL'], 'count': 1},
 {'_id': ['SGP', 'IDN', 'MYS', 'PHL', 'THA', 'VNM'], 'count': 1},
 {'_id': ['KOR', 'USA'], 'count': 2},
 {'_id': ['NZL', 'USA'], 'count': 1},
 {'_id': ['DEU',
   'CAN',
   'AUS',
   'AUT',
   'NLD',
   'BRA',
   'FRA',
   'GBR',
   'HKG',
   'ITA',
   'JPN',
   'SWE',
   'POL',
   'CHE',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['CHN', 'CHN', 'CHN', 'CHN'], 'count': 1},
 {'_id': ['IRL', 'ITA'], 'count': 2},
 {'_id': ['USA',
   'FRA',
   'AUS',
   'NLD',
   'DEU',
   'RUS',
   'POL',
   'IND',
   'ITA',
   'TUR',
   'USA',
   'GBR',
   'ISR',
   'CAN',
   'SWE',
   'ESP',
   'ZAF',
   'SGP'],
  'count': 1},
 {'_id': ['IND', 'JPN'], 'count': 2},
 {'_id': ['USA', 'CAN', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA', 'MEX', 'MEX'], 'count': 1},
 {'_id': ['PHL', 'PHL'], 'count': 1},
 {'_id': ['USA', 'CHN', 'SGP'], 'count': 1},
 {'_id': ['USA', 'FRA', 'GBR'], 'count': 1},
 {'_id': ['LVA'], 'count': 8},
 {'_id': ['GBR', 'USA', 'USA'], 'count': 4},
 {'_id': ['CHE', 'USA'], 'count': 2},
 {'_id': ['POL'], 'count': 20},
 {'_id': ['USA', 'ARG'], 'count': 4},
 {'_id': ['NLD', 'IND'], 'count': 1},
 {'_id': ['CHE', 'BGR'], 'count': 1},
 {'_id': ['ESP', 'ESP', 'ESP', 'GBR'], 'count': 1},
 {'_id': ['ESP', 'USA'], 'count': 5},
 {'_id': ['USA', 'EST', 'CZE', 'USA'], 'count': 1},
 {'_id': ['NLD', 'USA'], 'count': 3},
 {'_id': ['USA', 'RUS'], 'count': 4},
 {'_id': ['CAN', 'GBR'], 'count': 2},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'VNM',
   'VNM',
   'USA',
   'USA',
   'USA',
   'GBR',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'SGP',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['GBR', 'GIB'], 'count': 1},
 {'_id': ['PER'], 'count': 2},
 {'_id': ['ROM', 'ROM'], 'count': 2},
 {'_id': ['USA', 'TWN', 'CHN'], 'count': 1},
 {'_id': ['USA', 'FRA'], 'count': 11},
 {'_id': ['GBR', 'DNK', 'DEU', 'FRA'], 'count': 1},
 {'_id': ['GBR',
   'GBR',
   'GBR',
   'GBR',
   'USA',
   'FRA',
   'DEU',
   'DEU',
   'NLD',
   'SWE',
   'PAN',
   'NZL',
   'JPN',
   'ROM',
   'CHN'],
  'count': 1},
 {'_id': ['AUS'], 'count': 167},
 {'_id': ['USA', 'CAN', 'GBR', 'FRA', 'DEU', 'AUS', 'CHN', 'IND'], 'count': 2},
 {'_id': ['USA', 'USA', 'CHN', 'CHN', 'BRA', 'GBR'], 'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'NLD'], 'count': 1},
 {'_id': ['GBR', 'USA', 'AUS'], 'count': 2},
 {'_id': ['LKA', 'USA'], 'count': 1},
 {'_id': ['CHL'], 'count': 2},
 {'_id': ['VEN'], 'count': 1},
 {'_id': ['GRC', 'GRC'], 'count': 1},
 {'_id': ['ESP', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'AUS',
   'AUS',
   'CHN',
   'CHN',
   'CHN',
   'HKG',
   'IND',
   'USA',
   'IND',
   'IND',
   'IND',
   'JPN',
   'USA',
   'PRK',
   'SGP',
   'TWN',
   'DNK',
   'DNK',
   'FIN',
   'FRA',
   'DEU',
   'IRL',
   'ITA',
   'NLD',
   'NOR',
   'NOR',
   'POL',
   'POL',
   'RUS',
   'RUS',
   'ESP',
   'SWE',
   'SWE',
   'CHE',
   'GBR',
   'GBR',
   'CAN',
   'CAN',
   'CAN',
   'ARG',
   'BRA',
   'MEX',
   'ISR',
   'ISR',
   'TUR',
   'ARE'],
  'count': 1},
 {'_id': ['ISL', 'USA'], 'count': 2},
 {'_id': ['GHA'], 'count': 1},
 {'_id': ['NOR', 'GBR', 'PHL', 'ESP'], 'count': 1},
 {'_id': ['USA', 'SVN'], 'count': 1},
 {'_id': ['DEU', 'GBR'], 'count': 5},
 {'_id': ['CAN'], 'count': 513},
 {'_id': ['FRA', 'USA', 'GBR'], 'count': 1},
 {'_id': ['ISR', 'USA', 'DEU'], 'count': 1},
 {'_id': ['RUS', 'TUR'], 'count': 1},
 {'_id': ['CAN', 'USA', 'CHN'], 'count': 1},
 {'_id': ['AUS', 'USA'], 'count': 8},
 {'_id': ['CHE', 'IND'], 'count': 1},
 {'_id': ['GBR', 'ESP'], 'count': 1},
 {'_id': ['DEU'], 'count': 250},
 {'_id': ['USA', 'IND', 'IND', 'SGP'], 'count': 1},
 {'_id': ['GBR', 'NOR'], 'count': 1},
 {'_id': ['USA', 'IND', 'NLD'], 'count': 1},
 {'_id': ['ARE', 'EGY'], 'count': 1},
 {'_id': ['FRA', 'FRA'], 'count': 7},
 {'_id': ['MTQ'], 'count': 1},
 {'_id': ['USA', 'DEU', 'RUS', 'JPN'], 'count': 1},
 {'_id': ['MEX'], 'count': 7},
 {'_id': ['IND', 'IND', 'IND', 'IND', 'IND'], 'count': 1},
 {'_id': ['GBR', 'USA'], 'count': 31},
 {'_id': ['FRA', 'USA', 'USA', 'SWE', 'BEL', 'GBR', 'ESP', 'BRA', 'DEU'],
  'count': 1},
 {'_id': ['EST'], 'count': 11},
 {'_id': ['USA', 'USA', 'GBR', 'IND', 'IND', 'USA'], 'count': 1},
 {'_id': ['GBR', 'CZE'], 'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'MEX'], 'count': 1},
 {'_id': ['MUS'], 'count': 3},
 {'_id': ['ARM'], 'count': 1},
 {'_id': ['IND', 'USA', 'SGP', 'GBR', 'JPN', 'ZAF', 'KOR', 'KOR'], 'count': 1},
 {'_id': ['UMI'], 'count': 1},
 {'_id': ['NOR',
   'DEU',
   'SWE',
   'SWE',
   'USA',
   'USA',
   'JPN',
   'CHN',
   'KOR',
   'IND',
   'POL',
   'POL',
   'TWN'],
  'count': 1},
 {'_id': ['SWE', 'USA', 'DEU'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'ANT', 'GBR', 'AUS', 'SGP', 'FIN'],
  'count': 1},
 {'_id': ['ZAF'], 'count': 26},
 {'_id': ['USA', 'JPN', 'KOR'], 'count': 1},
 {'_id': ['CHN', 'NLD'], 'count': 1},
 {'_id': ['USA', 'AUS', 'HKG', 'SGP', 'IND', 'USA', 'USA', 'GBR'], 'count': 1},
 {'_id': ['GBR', 'DNK', 'HKG', 'PHL', 'USA'], 'count': 1},
 {'_id': ['GBR', 'TWN'], 'count': 1},
 {'_id': ['GBR', 'USA', 'CHN', 'CHN', 'PRK'], 'count': 1},
 {'_id': ['PHL', 'NLD', 'AUS', 'RUS', 'VNM', 'HKG', 'ARE'], 'count': 1},
 {'_id': ['GBR', 'ITA'], 'count': 2},
 {'_id': ['USA', 'NLD'], 'count': 9},
 {'_id': ['USA', 'USA', 'JPN', 'DEU'], 'count': 1},
 {'_id': ['FRA',
   'FRA',
   'GBR',
   'GBR',
   'GBR',
   'FRA',
   'FRA',
   'DEU',
   'DEU',
   'ESP',
   'IND'],
  'count': 1},
 {'_id': ['CHN', 'CHN', 'AUS'], 'count': 1},
 {'_id': ['USA', 'AUS', 'IND', 'JPN'], 'count': 1},
 {'_id': ['USA', 'ISR', 'USA'], 'count': 2},
 {'_id': ['CHN', 'CHN', 'IND', 'USA'], 'count': 1},
 {'_id': ['GBR', 'NLD', 'USA'], 'count': 2},
 {'_id': ['USA', 'MEX'], 'count': 3},
 {'_id': ['KAZ'], 'count': 2},
 {'_id': ['ROM'], 'count': 17},
 {'_id': ['CAN', 'CAN', 'USA', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA', 'BRA'], 'count': 3},
 {'_id': ['USA', 'USA', 'GBR', 'USA', 'USA', 'DEU'], 'count': 1},
 {'_id': ['EGY'], 'count': 8},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'BRA', 'GBR', 'JPN'], 'count': 1},
 {'_id': ['RUS'], 'count': 29},
 {'_id': ['IND', 'FRA'], 'count': 1},
 {'_id': ['BLR'], 'count': 3},
 {'_id': ['CIV'], 'count': 2},
 {'_id': ['SWE', 'SWE'], 'count': 3},
 {'_id': ['CHN', 'USA'], 'count': 1},
 {'_id': ['USA', 'ECU', 'ARG'], 'count': 1},
 {'_id': ['PRT', 'PRT', 'PRT', 'PRT', 'GBR', 'GBR'], 'count': 1},
 {'_id': ['USA', 'USA', 'HUN'], 'count': 1},
 {'_id': ['DNK', 'CHE', 'CSS', 'USA'], 'count': 1},
 {'_id': ['IND', 'IND'], 'count': 10},
 {'_id': ['BGR'], 'count': 3},
 {'_id': ['USA', 'UKR'], 'count': 2},
 {'_id': ['JPN', 'USA'], 'count': 7},
 {'_id': ['FIN', 'GBR'], 'count': 2},
 {'_id': ['USA', 'TUR', 'IND', 'ARE'], 'count': 1},
 {'_id': ['AUS', 'AUS'], 'count': 3},
 {'_id': ['GBR', 'ZAF', 'IND'], 'count': 1},
 {'_id': ['GBR', 'IRL'], 'count': 1},
 {'_id': ['MKD', 'MKD'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'GBR', 'ANT', 'CHN', 'FRA'], 'count': 2},
 {'_id': ['USA', 'GBR', 'RUS'], 'count': 1},
 {'_id': ['UKR', 'SWE', 'USA'], 'count': 1},
 {'_id': ['USA', 'USA', 'SGP'], 'count': 1},
 {'_id': ['USA', 'ESP'], 'count': 8},
 {'_id': ['FRA',
   'FRA',
   'GBR',
   'BEL',
   'DEU',
   'ESP',
   'ITA',
   'SGP',
   'JPN',
   'CHE',
   'PRT',
   'USA',
   'BRA'],
  'count': 1},
 {'_id': ['BRA'], 'count': 16},
 {'_id': ['ESP', 'CHL'], 'count': 1},
 {'_id': ['USA', 'USA', 'CAN'], 'count': 2},
 {'_id': ['SGP', 'GBR'], 'count': 1},
 {'_id': ['THA'], 'count': 12},
 {'_id': ['USA', 'IND', 'TWN'], 'count': 1},
 {'_id': ['OMN'], 'count': 1},
 {'_id': ['LUX', 'USA', 'GBR'], 'count': 1},
 {'_id': ['USA', 'GBR', 'FIN', 'FRA', 'DEU', 'CHN', 'MYS', 'IND'], 'count': 1},
 {'_id': ['TWN', 'USA'], 'count': 1},
 {'_id': ['CAN', 'CAN', 'CAN', 'CAN'], 'count': 1},
 {'_id': ['ZAF', 'ZAF', 'GBR'], 'count': 1},
 {'_id': ['MAR', 'MAR'], 'count': 1},
 {'_id': ['IND', 'USA', 'USA'], 'count': 2},
 {'_id': ['DEU', 'GBR', 'USA', 'USA'], 'count': 1},
 {'_id': ['ALB'], 'count': 1},
 {'_id': ['AUS', 'NZL'], 'count': 1},
 {'_id': ['ISR', 'ARG'], 'count': 1},
 {'_id': ['NLD', 'DEU', 'CHE', 'ESP', 'ESP', 'USA'], 'count': 1},
 {'_id': ['IRL', 'IRL'], 'count': 2},
 {'_id': ['CAN', 'USA', 'USA', 'FRA'], 'count': 1},
 {'_id': ['USA', 'CHN'], 'count': 10},
 {'_id': ['USA', 'GBR', 'NZL'], 'count': 1},
 {'_id': ['ITA', 'ITA'], 'count': 10},
 {'_id': ['ISR'], 'count': 164},
 {'_id': ['CAN', 'CHE', 'DEU'], 'count': 1},
 {'_id': ['USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA',
   'USA'],
  'count': 1},
 {'_id': ['IND',
   'IND',
   'IND',
   'IND',
   'IND',
   'USA',
   'USA',
   'GBR',
   'DEU',
   'ARE'],
  'count': 1},
 {'_id': ['NIC'], 'count': 1},
 {'_id': ['DNK', 'PHL'], 'count': 1},
 {'_id': ['USA', 'AUT'], 'count': 1},
 {'_id': ['USA', 'GBR', 'BGR'], 'count': 1},
 {'_id': ['USA', 'USA', 'PRT'], 'count': 1},
 {'_id': ['ESP', 'ESP', 'USA'], 'count': 2},
 {'_id': ['KOR'], 'count': 16},
 {'_id': ['USA', 'KGZ'], 'count': 1},
 {'_id': ['CZE', 'USA'], 'count': 1},
 {'_id': ['ARG', 'MEX', 'BRA'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA'], 'count': 2},
 {'_id': ['ESP', 'ESP', 'USA', 'USA', 'CHN', 'JPN'], 'count': 2},
 {'_id': ['DEU', 'DEU', 'CHE', 'DEU', 'GBR', 'ESP', 'CHN', 'DEU'], 'count': 1},
 {'_id': ['USA', 'BGR', 'CHL'], 'count': 1},
 {'_id': ['USA', 'BRA', 'PRT', 'SGP', 'USA', 'USA'], 'count': 1},
 {'_id': ['USA', 'GBR', 'DEU', 'AUS'], 'count': 1},
 {'_id': ['NLD'], 'count': 140},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'CHN'], 'count': 1},
 {'_id': ['IRL', 'USA'], 'count': 4},
 {'_id': ['CSS'], 'count': 3},
 {'_id': ['CHE', 'AUT'], 'count': 1},
 {'_id': ['GBR', 'FRA', 'ESP', 'DEU', 'BRA'], 'count': 1},
 {'_id': ['DEU', 'USA', 'DEU', 'MLT'], 'count': 1},
 {'_id': ['USA', 'AUS', 'USA', 'ESP'], 'count': 1},
 {'_id': ['IRL', 'GBR'], 'count': 2},
 {'_id': ['AUT', 'AUT'], 'count': 1},
 {'_id': ['USA', 'SGP', 'GBR'], 'count': 1},
 {'_id': ['USA', 'GBR', 'DEU', 'AUS', 'USA'], 'count': 1},
 {'_id': ['GBR', 'AUS'], 'count': 3},
 {'_id': ['USA', 'USA', 'CAN', 'GBR'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'USA', 'USA', 'BRA'], 'count': 1},
 {'_id': ['USA', 'USA', 'GBR', 'DNK', 'CHE'], 'count': 1},
 {'_id': ['DEU', 'USA'], 'count': 13},
 {'_id': ['USA', 'CAN', 'GBR'], 'count': 1},
 {'_id': ['USA', 'DEU', 'AUS'], 'count': 1},
 {'_id': ['USA', 'USA', 'BRA'], 'count': 2},
 {'_id': ['NZL', 'GBR'], 'count': 2},
 {'_id': ['GBR', 'ANT'], 'count': 1},
 {'_id': ['HKG', 'CAN', 'USA'], 'count': 1},
 {'_id': ['IND', 'USA', 'GBR'], 'count': 1},
 {'_id': ['USA', 'CAN', 'HKG'], 'count': 1},
 {'_id': ['FRA', 'GBR', 'DEU'], 'count': 1},
 {'_id': ['IND', 'GBR', 'AUS'], 'count': 1},
 {'_id': ['GBR', 'ISR'], 'count': 1},
 {'_id': ['CAN', 'DEU'], 'count': 1},
 {'_id': ['USA', 'DEU', 'JPN', 'ISR', 'CHN', 'ITA'], 'count': 1},
 {'_id': ['ARG',
   'USA',
   'GBR',
   'USA',
   'ARG',
   'BRA',
   'COL',
   'URY',
   'ARG',
   'ARG',
   'ARG',
   'ARG',
   'ARG',
   'ARG'],
  'count': 1},
 {'_id': ['USA', 'EGY'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'DEU'], 'count': 1},
 {'_id': ['FRA', 'AUS', 'HUN', 'ITA', 'NLD', 'ESP', 'SWE', 'GBR'], 'count': 1},
 {'_id': ['USA', 'ARG', 'ARG'], 'count': 1},
 {'_id': ['ITA', 'GBR', 'CHE', 'FRA', 'USA'], 'count': 1},
 {'_id': ['USA', 'VEN'], 'count': 1},
 {'_id': ['USA', 'USA', 'IND'], 'count': 4},
 {'_id': ['PRI'], 'count': 2},
 {'_id': ['JOR'], 'count': 4},
 {'_id': ['USA', 'USA', 'CHN'], 'count': 3},
 {'_id': ['ISR', 'MEX'], 'count': 1},
 {'_id': ['GBR', 'BGR', 'CHN'], 'count': 1},
 {'_id': ['USA', 'DEU', 'CAN', 'POL', 'GBR', 'BRA', 'JPN'], 'count': 1},
 {'_id': ['NOR', 'NOR'], 'count': 3},
 {'_id': ['JPN', 'JPN'], 'count': 2},
 {'_id': ['FIN', 'USA', 'CHE'], 'count': 1},
 {'_id': ['RUS', 'USA'], 'count': 1},
 {'_id': ['USA', 'USA', 'USA', 'GBR', 'ITA', 'DEU'], 'count': 1},
 {'_id': ['USA',
   'CZE',
   'GBR',
   'AUS',
   'SWE',
   'ARG',
   'EGY',
   'SGP',
   'CAN',
   'ARE'],
  'count': 1},
 {'_id': ['HRV'], 'count': 4},
 {'_id': ['LIE'], 'count': 2},
 {'_id': ['AZE'], 'count': 1},
 {'_id': ['MYS', 'USA'], 'count': 1},
 {'_id': ['SGP', 'TWN', 'VNM', 'VNM'], 'count': 1},
 {'_id': ['PAK', 'SAU', 'CHN', 'CHN'], 'count': 1},
 {'_id': ['CHN', 'IRL'], 'count': 1},
 {'_id': ['UKR', 'USA'], 'count': 1},
 {'_id': ['USA', 'DEU', 'CHN', 'JPN'], 'count': 1},
 {'_id': ['ESP', 'GBR', 'ESP'], 'count': 1},
 {'_id': ['USA', 'CAN', 'GBR', 'HKG', 'JPN'], 'count': 1},
 {'_id': ['USA', 'USA', 'DEU'], 'count': 3},
 {'_id': ['IND'], 'count': 332},
 {'_id': ['GBR', 'FRA', 'HKG'], 'count': 1},
 {'_id': ['SVN', 'SVN'], 'count': 1},
 {'_id': ['USA', 'GBR', 'FRA', 'USA', 'USA', 'PHL'], 'count': 1},
 {'_id': ['FRA'], 'count': 248},
 {'_id': ['SWE'], 'count': 86},
 {'_id': ['PAK'], 'count': 19},
 {'_id': ['USA', 'GBR', 'IRL'], 'count': 2},
 {'_id': ['LVA', 'LTU'], 'count': 1},
 {'_id': ['ARG'], 'count': 31},
 {'_id': ['AUT', 'BIH', 'HRV', 'FRA'], 'count': 1},
 {'_id': ['AUS', 'USA', 'NLD', 'JPN'], 'count': 1},
 {'_id': ['AUT'], 'count': 25},
 {'_id': ['RUS', 'RUS', 'LVA'], 'count': 1},
 {'_id': ['LKA'], 'count': 1},
 {'_id': ['DEU', 'DEU', 'USA'], 'count': 1},
 {'_id': ['MLT'], 'count': 4},

In [5]:
county_counts=[]
for x in countries:
    county_counts.append(x['_id'])

In [6]:
county_counts = [c for n in county_counts for c in n]
county_counts

['USA',
 'IND',
 'GBR',
 'DEU',
 'USA',
 'ISR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'FRA',
 'FRA',
 'MUS',
 'GBR',
 'USA',
 'AUS',
 'ESP',
 'NLD',
 'HKG',
 'CHN',
 'CHN',
 'TUN',
 'IND',
 'IND',
 'IND',
 'IND',
 'USA',
 'USA',
 'USA',
 'USA',
 'IND',
 'JPN',
 'GBR',
 'JOR',
 'CAN',
 'SGP',
 'USA',
 'USA',
 'GBR',
 'CHE',
 'JPN',
 'GBR',
 'IND',
 'DEU',
 'TWN',
 'BEL',
 'GBR',
 'GBR',
 'GBR',
 'DEU',
 'MAR',
 'NLD',
 'GRC',
 'CAN',
 'IND',
 'BIH',
 'USA',
 'TWN',
 'JPN',
 'KOR',
 'ARE',
 'USA',
 'IND',
 'IND',
 'USA',
 'CZE',
 'USA',
 'ESP',
 'BEL',
 'BEL',
 'DNK',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'NLD',
 'GBR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'GBR',
 'USA',
 'USA',
 'USA',
 'GBR',
 'USA',
 'DEU',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'GBR',
 'SGP',
 'USA',
 'GBR',
 'LKA',
 'PRT',
 'PRT',
 'USA',
 'SWE',
 'USA',
 'FRA',
 'KOR',
 'USA',
 'CZE',
 'USA',
 'USA',
 'FRA',
 'USA',
 'USA',
 'FRA',
 'SWE',
 'NOR',
 'NLD',
 'SWE',
 'USA',
 'GBR',
 'DEU',
 'ESP',
 'FRA',
 'JPN',
 'AUS',
 'USA',
 'USA',
 'GBR',
 'USA',
 'USA',
 'USA',
 'IND',
 'GBR',
 'USA',
 'GBR',
 'USA',
 'CHN',
 'IND',
 'JPN',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'AUS',
 'AUS',
 'AUS',
 'NZL',
 'USA',
 'USA',
 'GBR',
 'IND',
 'USA',
 'SGP',
 'SGP',
 'USA',
 'ROM',
 'USA',
 'SAU',
 'CHN',
 'GBR',
 'ARE',
 'USA',
 'GRC',
 'AUS',
 'GBR',
 'USA',
 'ISR',
 'TUR',
 'RUS',
 'ARG',
 'SGP',
 'MYS',
 'USA',
 'USA',
 'USA',
 'GBR',
 'USA',
 'USA',
 'KOR',
 'LBN',
 'USA',
 'USA',
 'AUS',
 'GBR',
 'USA',
 'TWN',
 'USA',
 'CAN',
 'POL',
 'GBR',
 'USA',
 'GBR',
 'ISL',
 'CAN',
 'USA',
 'CHE',
 'DEU',
 'GBR',
 'HKG',
 'FRA',
 'USA',
 'AUS',
 'DEU',
 'FIN',
 'NOR',
 'EST',
 'LVA',
 'LTU',
 'UKR',
 'DNK',
 'USA',
 'USA',
 'CHL',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'CHL',
 'IND',
 'IND',
 'USA',
 'URY',
 'AUS',
 'UKR',
 'USA',
 'ESP',
 'USA',
 'GBR',
 'USA',
 'GBR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'GBR',
 'GBR',
 'AUS',
 'AUS',
 'GBR',
 'USA',
 'GBR',
 'DEU',
 'USA',
 'ITA',
 'BRA',
 'PRT',
 'GBR',
 'GBR',
 'NZL',
 'USA',
 'USA',
 'CAN',
 'FRA',
 'USA',
 'USA',
 'ANT',
 'USA',
 'CHE',
 'DEU',
 'SWE',
 'USA',
 'SWE',
 'USA',
 'USA',
 'CHN',
 'GBR',
 'USA',
 'CHN',
 'USA',
 'USA',
 'GBR',
 'MYS',
 'USA',
 'DOM',
 'ITA',
 'ITA',
 'ARG',
 'AUS',
 'AUT',
 'NLD',
 'BRA',
 'FIN',
 'FRA',
 'DEU',
 'GRC',
 'HKG',
 'IND',
 'IRL',
 'MEX',
 'NGA',
 'NOR',
 'PRT',
 'RUS',
 'ESP',
 'ZAF',
 'CHE',
 'TUR',
 'GBR',
 'USA',
 'CAN',
 'CAN',
 'SGP',
 'USA',
 'CHN',
 'CHN',
 'AUS',
 'MYS',
 'GBR',
 'USA',
 'USA',
 'USA',
 'SGP',
 'USA',
 'IND',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'GBR',
 'FRA',
 'JPN',
 'IND',
 'IND',
 'IND',
 'CAN',
 'USA',
 'USA',
 'BGD',
 'HKG',
 'HUN',
 'ROM',
 'FRA',
 'UKR',
 'RUS',
 'SGP',
 'AUS',
 'NZL',
 'CHN',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'IND',
 'USA',
 'USA',
 'USA',
 'USA',
 'DEU',
 'USA',
 'JPN',
 'USA',
 'USA',
 'GBR',
 'DEU',
 'ESP',
 'USA',
 'USA',
 'GBR',
 'MYS',
 'NZL',
 'NZL',
 'AUS',
 'USA',
 'AUS',
 'AUS',
 'GBR',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'ESP',
 'ESP',
 'ESP',
 'GBR',
 'USA',
 'CHN',
 'USA',
 'USA',
 'NLD',
 'IRL',
 'ESP',
 'USA',
 'USA',
 'TWN',
 'FRA',
 'ROM',
 'BGD',
 'IND',
 'AUS',
 'USA',
 'USA',
 'BEL',
 'USA',
 'ARG',
 'DEU',
 'TUR',
 'IND',
 'SDN',
 'USA',
 'USA',
 'GBR',
 'ISR',
 'USA',
 'GBR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'ISR',
 'TUR',
 'CHE',
 'DEU',
 'USA',
 'USA',
 'GBR',
 'JPN',
 'DEU',
 'BEL',
 'USA',
 'FRA',
 'NLD',
 'IND',
 'USA',
 'GBR',
 'GBR',
 'IND',
 'NLD',
 'BEL',
 'DEU',
 'DEU',
 'FRA',
 'IRL',
 'GBR',
 'USA',
 'IRL',
 'SGP',
 'IDN',
 'MYS',
 'PHL',
 'THA',
 'VNM',
 'KOR',
 'USA',
 'NZL',
 'USA',
 'DEU',
 'CAN',
 'AUS',
 'AUT',
 'NLD',
 'BRA',
 'FRA',
 'GBR',
 'HKG',
 'ITA',
 'JPN',
 'SWE',
 'POL',
 'CHE',
 'USA',
 'USA',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'IRL',
 'ITA',
 'USA',
 'FRA',
 'AUS',
 'NLD',
 'DEU',
 'RUS',
 'POL',
 'IND',
 'ITA',
 'TUR',
 'USA',
 'GBR',
 'ISR',
 'CAN',
 'SWE',
 'ESP',
 'ZAF',
 'SGP',
 'IND',
 'JPN',
 'USA',
 'CAN',
 'USA',
 'USA',
 'USA',
 'MEX',
 'MEX',
 'PHL',
 'PHL',
 'USA',
 'CHN',
 'SGP',
 'USA',
 'FRA',
 'GBR',
 'LVA',
 'GBR',
 'USA',
 'USA',
 'CHE',
 'USA',
 'POL',
 'USA',
 'ARG',
 'NLD',
 'IND',
 'CHE',
 'BGR',
 'ESP',
 'ESP',
 'ESP',
 'GBR',
 'ESP',
 'USA',
 'USA',
 'EST',
 'CZE',
 'USA',
 'NLD',
 'USA',
 'USA',
 'RUS',
 'CAN',
 'GBR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'VNM',
 'VNM',
 'USA',
 'USA',
 'USA',
 'GBR',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'SGP',
 'USA',
 'USA',
 'GBR',
 'GIB',
 'PER',
 'ROM',
 'ROM',
 'USA',
 'TWN',
 'CHN',
 'USA',
 'FRA',
 'GBR',
 'DNK',
 'DEU',
 'FRA',
 'GBR',
 'GBR',
 'GBR',
 'GBR',
 'USA',
 'FRA',
 'DEU',
 'DEU',
 'NLD',
 'SWE',
 'PAN',
 'NZL',
 'JPN',
 'ROM',
 'CHN',
 'AUS',
 'USA',
 'CAN',
 'GBR',
 'FRA',
 'DEU',
 'AUS',
 'CHN',
 'IND',
 'USA',
 'USA',
 'CHN',
 'CHN',
 'BRA',
 'GBR',
 'USA',
 'USA',
 'GBR',
 'NLD',
 'GBR',
 'USA',
 'AUS',
 'LKA',
 'USA',
 'CHL',
 'VEN',
 'GRC',
 'GRC',
 'ESP',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'AUS',
 'AUS',
 'CHN',
 'CHN',
 'CHN',
 'HKG',
 'IND',
 'USA',
 'IND',
 'IND',
 'IND',
 'JPN',
 'USA',
 'PRK',
 'SGP',
 'TWN',
 'DNK',
 'DNK',
 'FIN',
 'FRA',
 'DEU',
 'IRL',
 'ITA',
 'NLD',
 'NOR',
 'NOR',
 'POL',
 'POL',
 'RUS',
 'RUS',
 'ESP',
 'SWE',
 'SWE',
 'CHE',
 'GBR',
 'GBR',
 'CAN',
 'CAN',
 'CAN',
 'ARG',
 'BRA',
 'MEX',
 'ISR',
 'ISR',
 'TUR',
 'ARE',
 'ISL',
 'USA',
 'GHA',
 'NOR',
 'GBR',
 'PHL',
 'ESP',
 'USA',
 'SVN',
 'DEU',
 'GBR',
 'CAN',
 'FRA',
 'USA',
 'GBR',
 'ISR',
 'USA',
 'DEU',
 'RUS',
 'TUR',
 'CAN',
 'USA',
 'CHN',
 'AUS',
 'USA',
 'CHE',
 'IND',
 'GBR',
 'ESP',
 'DEU',
 'USA',
 'IND',
 'IND',
 'SGP',
 'GBR',
 'NOR',
 'USA',
 'IND',
 'NLD',
 'ARE',
 'EGY',
 'FRA',
 'FRA',
 'MTQ',
 'USA',
 'DEU',
 'RUS',
 'JPN',
 'MEX',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'GBR',
 'USA',
 'FRA',
 'USA',
 'USA',
 'SWE',
 'BEL',
 'GBR',
 'ESP',
 'BRA',
 'DEU',
 'EST',
 'USA',
 'USA',
 'GBR',
 'IND',
 'IND',
 'USA',
 'GBR',
 'CZE',
 'USA',
 'USA',
 'GBR',
 'MEX',
 'MUS',
 'ARM',
 'IND',
 'USA',
 'SGP',
 'GBR',
 'JPN',
 'ZAF',
 'KOR',
 'KOR',
 'UMI',
 'NOR',
 'DEU',
 'SWE',
 'SWE',
 'USA',
 'USA',
 'JPN',
 'CHN',
 'KOR',
 'IND',
 'POL',
 'POL',
 'TWN',
 'SWE',
 'USA',
 'DEU',
 'USA',
 'USA',
 'USA',
 'USA',
 'ANT',
 'GBR',
 'AUS',
 'SGP',
 'FIN',
 'ZAF',
 'USA',
 'JPN',
 'KOR',
 'CHN',
 'NLD',
 'USA',
 'AUS',
 'HKG',
 'SGP',
 'IND',
 'USA',
 'USA',
 'GBR',
 'GBR',
 'DNK',
 'HKG',
 'PHL',
 'USA',
 'GBR',
 'TWN',
 'GBR',
 'USA',
 'CHN',
 'CHN',
 'PRK',
 'PHL',
 'NLD',
 'AUS',
 'RUS',
 'VNM',
 'HKG',
 'ARE',
 'GBR',
 'ITA',
 'USA',
 'NLD',
 'USA',
 'USA',
 'JPN',
 'DEU',
 'FRA',
 'FRA',
 'GBR',
 'GBR',
 'GBR',
 'FRA',
 'FRA',
 'DEU',
 'DEU',
 'ESP',
 'IND',
 'CHN',
 'CHN',
 'AUS',
 'USA',
 'AUS',
 'IND',
 'JPN',
 'USA',
 'ISR',
 'USA',
 'CHN',
 'CHN',
 'IND',
 'USA',
 'GBR',
 'NLD',
 'USA',
 'USA',
 'MEX',
 'KAZ',
 'ROM',
 'CAN',
 'CAN',
 'USA',
 'USA',
 'USA',
 'USA',
 'BRA',
 'USA',
 'USA',
 'GBR',
 'USA',
 'USA',
 'DEU',
 'EGY',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'BRA',
 'GBR',
 'JPN',
 'RUS',
 'IND',
 'FRA',
 'BLR',
 'CIV',
 'SWE',
 'SWE',
 'CHN',
 'USA',
 'USA',
 'ECU',
 'ARG',
 'PRT',
 'PRT',
 'PRT',
 'PRT',
 'GBR',
 'GBR',
 'USA',
 'USA',
 'HUN',
 'DNK',
 'CHE',
 'CSS',
 'USA',
 'IND',
 'IND',
 'BGR',
 'USA',
 'UKR',
 'JPN',
 'USA',
 'FIN',
 'GBR',
 'USA',
 'TUR',
 'IND',
 'ARE',
 'AUS',
 'AUS',
 'GBR',
 'ZAF',
 'IND',
 'GBR',
 'IRL',
 'MKD',
 'MKD',
 'USA',
 'USA',
 'USA',
 'GBR',
 'ANT',
 'CHN',
 'FRA',
 'USA',
 'GBR',
 'RUS',
 'UKR',
 'SWE',
 'USA',
 'USA',
 'USA',
 'SGP',
 ...]

In [7]:
from collections import Counter
county_counts = Counter(county_counts)
{k: v for k, v in sorted(county_counts.items(), key=lambda item: item[1], reverse=True)}

{'USA': 775,
 'GBR': 257,
 'DEU': 116,
 'IND': 106,
 'FRA': 82,
 'AUS': 80,
 'CHN': 79,
 'ESP': 62,
 'CAN': 62,
 'JPN': 52,
 'SGP': 46,
 'NLD': 40,
 'SWE': 35,
 'CHE': 31,
 'BRA': 30,
 'ARG': 29,
 'ISR': 28,
 'ITA': 28,
 'HKG': 25,
 'IRL': 25,
 'RUS': 23,
 'TWN': 20,
 'BEL': 19,
 'MEX': 18,
 'NOR': 17,
 'DNK': 16,
 'KOR': 15,
 'NZL': 15,
 'ROM': 15,
 'ZAF': 15,
 'PHL': 15,
 'ARE': 14,
 'MYS': 14,
 'AUT': 14,
 'POL': 13,
 'PRT': 12,
 'FIN': 12,
 'UKR': 12,
 'CZE': 11,
 'TUR': 11,
 'CHL': 9,
 'VNM': 9,
 'BGR': 8,
 'GRC': 7,
 'THA': 6,
 'SVN': 6,
 'COL': 6,
 'EST': 5,
 'ANT': 5,
 'HUN': 5,
 'EGY': 5,
 'LKA': 4,
 'LVA': 4,
 'HRV': 4,
 'PAK': 4,
 'CYP': 4,
 'JOR': 3,
 'MAR': 3,
 'SAU': 3,
 'LTU': 3,
 'URY': 3,
 'NGA': 3,
 'BGD': 3,
 'IDN': 3,
 'MKD': 3,
 'LUX': 3,
 'MLT': 3,
 'MUS': 2,
 'BIH': 2,
 'LBN': 2,
 'ISL': 2,
 'GIB': 2,
 'PAN': 2,
 'VEN': 2,
 'PRK': 2,
 'CSS': 2,
 'NIC': 2,
 'ARA': 2,
 'VGB': 2,
 'KEN': 2,
 'QAT': 2,
 'UZB': 2,
 'TUN': 1,
 'DOM': 1,
 'SDN': 1,
 'PER': 1,
 'GHA': 1,
 'MTQ': 1,
 'ARM': 1,
 'UMI': 1,
 'KAZ': 1,
 'BLR': 1,
 'CIV': 1,
 'ECU': 1,
 'OMN': 1,
 'ALB': 1,
 'KGZ': 1,
 'PRI': 1,
 'LIE': 1,
 'AZE': 1,
 'IOT': 1,
 'PST': 1,
 'BFA': 1,
 'REU': 1,
 'IRQ': 1,
 'CYM': 1,
 'CRI': 1,
 'BOL': 1,
 'LAO': 1,
 'ATG': 1,
 'BRB': 1,
 'BMU': 1,
 'AFG': 1,
 'GIN': 1}

**Countries which companies I have more information of:**  
  
USA 🇺🇸  
GBR 🇬🇧  
DEU 🇩🇪   
IND 🇮🇪  
FRA 🇫🇷

**Top Videogame development Countries:**

USA 🇺🇸 = 194  
GBR 🇬🇧 =  48  
DEU 🇩🇪 =   /  
IND 🇮🇪  =   /  
FRA 🇫🇷 =  23

**Chosen Country:  
US** 🇺🇸 🇺🇸 🇺🇸 🇺🇸

# 1. Successful tech startups that have raised at least 1 Million dollars

**Query:**  
 - Country: USA  
 - Is a startup: founded after 2007)  
 - Tech categories: software,design,games_video,web, mobile
 - Raised at least 1 Million dollars

In [8]:
query = {"$and":[
    {"offices.country_code":"USA"},
    {"founded_year":{"$gte":2007}},
    {"funding_rounds.raised_amount":{"$gte":1000000}},
    {"category_code":{"$in":["software","design","games_video","web", "mobile"]}},
]}
cur = db.companies.find(query)
df = pd.DataFrame(list(cur))
df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297da9,Mahalo,mahalo,http://www.crunchbase.com/company/mahalo,http://mahalo.com,http://blog.mahalo.com/,http://blog.mahalo.com/feed/,MahaloDotCom,web,40.0,...,[],None,[],"[{'description': '', 'address1': '3525 Eastham...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],[]
1,52cdef7c4bab8bd675297dc2,AdaptiveBlue,adaptiveblue,http://www.crunchbase.com/company/adaptiveblue,http://www.getglue.com,http://blog.adaptiveblue.com,http://blog.adaptiveblue.com/?feed=rss2,GetGlue,games_video,15.0,...,[],None,[],"[{'description': '', 'address1': '131 Varick S...",[],None,"[{'embed_code': '<object width=""425"" height=""3...",[],[{'external_url': 'http://web20show.com/2009/1...,[]
2,52cdef7c4bab8bd675297dc0,Livestream,livestream,http://www.crunchbase.com/company/livestream,http://www.livestream.com,http://www.livestream.com/blog/,http://www.livestream.com/blog/?feed=rss2,livestream,games_video,120.0,...,[],"{'price_amount': None, 'price_currency_code': ...",[],"[{'description': 'Livestream HQ', 'address1': ...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[{'external_url': 'http://scobleizer.com/2007/...,[]
3,52cdef7c4bab8bd675297dc1,Ustream,ustream,http://www.crunchbase.com/company/ustream,http://www.ustream.tv,http://www.ustream.com/blog,http://www.ustream.com/blog/feed,USTREAM,games_video,250.0,...,[],None,[],"[{'description': 'San Francisco Office', 'addr...","[{'id': 6587, 'description': 'Ustream recogniz...",None,"[{'embed_code': '<object id=""flashObj"" width=""...","[{'available_sizes': [[[150, 103], 'assets/ima...",[{'external_url': 'http://facebook.com/ustream...,[]
4,52cdef7c4bab8bd675297dd1,SodaHead,sodahead,http://www.crunchbase.com/company/sodahead,http://sodahead.com,,,SodaHead,web,25.0,...,[],None,[],"[{'description': '', 'address1': '16161 Ventur...",[],None,[],"[{'available_sizes': [[[150, 131], 'assets/ima...",[{'external_url': 'http://www.prweb.com/releas...,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,52cdef7f4bab8bd67529c4f0,Culture Jam,culture-jam,http://www.crunchbase.com/company/culture-jam,http://site.promojam.com,http://promojam.tumblr.com/,,culturejam,web,15.0,...,[],None,[],"[{'description': '', 'address1': '2434 Lincoln...",[],None,[],[],[{'external_url': 'http://www.techcrunch.com/2...,[]
295,52cdef7f4bab8bd67529c55b,Clavis Technology,clavis-technology,http://www.crunchbase.com/company/clavis-techn...,http://www.clavistechnology.com,http://www.clavistechnology.com/news,http://www.clavistechnology.com/feed/,Clavistech,software,50.0,...,[],None,[],"[{'description': '', 'address1': '7th Floor,',...","[{'id': 7702, 'description': 'Clavis Secures S...",None,"[{'embed_code': '<p> <object classid=""clsid:d...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://the451group.com/repo...,[]
296,52cdef7f4bab8bd67529c59b,Luma International,luma-international,http://www.crunchbase.com/company/luma-interna...,http://www.lumacentral.com,http://blog.lumacentral.com,http://blog.lumacentral.com/atom.xml,lumacentral,software,40.0,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,[],"[{'available_sizes': [[[150, 114], 'assets/ima...",[],[]
297,52cdef7f4bab8bd67529c5b8,Continuity Engine,continuity-engine,http://www.crunchbase.com/company/continuity-e...,http://www.continuity.net,http://continuityengine.blogspot.com/,,ContinuityEng,software,11.0,...,[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '150 Munson...",[],None,[],"[{'available_sizes': [[[150, 72], 'assets/imag...",[],[]
298,52cdef7f4bab8bd67529c679,Bump Technologies,bump-technologies,http://www.crunchbase.com/company/bump-technol...,http://bu.mp,http://blog.bu.mp/,,bumptech,mobile,NaN,...,[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': 'HQ', 'address1': '', 'addres...",[],None,[],"[{'available_sizes': [[[150, 148], 'assets/ima...",[],[]

In [9]:
df.columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'founded_month', 'founded_day',
       'deadpooled_year', 'deadpooled_month', 'deadpooled_day',
       'deadpooled_url', 'tag_list', 'alias_list', 'email_address',
       'phone_number', 'description', 'created_at', 'updated_at', 'overview',
       'image', 'products', 'relationships', 'competitions', 'providerships',
       'total_money_raised', 'funding_rounds', 'investments', 'acquisition',
       'acquisitions', 'offices', 'milestones', 'ipo', 'video_embeds',
       'screenshots', 'external_links', 'partners'],
      dtype='object')

In [10]:
offices = df[["name", "offices"]].explode("offices")
offices

                   name                                            offices
0                Mahalo  {'description': '', 'address1': '3525 Eastham ...
1          AdaptiveBlue  {'description': '', 'address1': '131 Varick St...
2            Livestream  {'description': 'Livestream HQ', 'address1': '...
3               Ustream  {'description': 'San Francisco Office', 'addre...
3               Ustream  {'description': 'Los Angeles Office', 'address...
..                  ...                                                ...
296  Luma International  {'description': 'HQ North America', 'address1'...
296  Luma International  {'description': 'Office France', 'address1': '...
296  Luma International  {'description': 'Office The Netherlands', 'add...
297   Continuity Engine  {'description': 'HQ', 'address1': '150 Munson ...
298   Bump Technologies  {'description': 'HQ', 'address1': '', 'address...

[393 rows x 2 columns]

In [11]:
offices = json_normalize(json.loads(offices.to_json(orient="records")))
offices = offices[["name", "offices.latitude", "offices.longitude", "offices.state_code"]]
offices

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

,name,offices.latitude,offices.longitude,offices.state_code
0,Mahalo,34.017606,-118.487267,CA
1,AdaptiveBlue,40.801358,-74.337200,NY
2,Livestream,40.726155,-73.995625,NY
3,Ustream,37.392936,-122.079480,CA
4,Ustream,NaN,NaN,CA
...,...,...,...,...
388,Luma International,NaN,NaN,CA
389,Luma International,NaN,NaN,None
390,Luma International,NaN,NaN,None
391,Continuity Engine,41.327918,-73.243552,CT
392,Bump Technologies,NaN,NaN,CA

In [12]:
offices["offices.state_code"].value_counts()

CA    184
NY     50
MA     23
WA     11
CO      9
TX      9
VA      7
NC      5
IL      5
FL      5
PA      4
CT      3
OR      3
GA      3
UT      3
MD      2
MN      2
AZ      2
NJ      2
SC      1
NH      1
DC      1
RI      1
LA      1
ME      1
KY      1
Name: offices.state_code, dtype: int64

### Chosen state: California

In [13]:
offices = offices.loc[offices["offices.state_code"] == "CA"]
offices = offices.dropna()
offices = offices.reset_index()
offices = offices.drop(columns = ["index"])

In [14]:
offices

,name,offices.latitude,offices.longitude,offices.state_code
0,Mahalo,34.017606,-118.487267,CA
1,Ustream,37.392936,-122.079480,CA
2,SodaHead,37.269175,-119.306607,CA
3,Funny Or Die,37.421621,-122.137444,CA
4,Seesmic,37.775196,-122.419204,CA
...,...,...,...,...
138,Global Fitness Media,34.054318,-118.462876,CA
139,CrowdGather,34.168955,-118.575293,CA
140,High Gear Media,37.445335,-122.158330,CA
141,Teambox,41.406335,2.192023,CA
142,Culture Jam,34.013715,-118.466060,CA

In [15]:
offices = offices.rename(columns={"name": "Name", "offices.latitude": "Latitude", "offices.longitude": "Longitude", "offices.state_code": "State Code"})

In [16]:
offices

                     Name   Latitude   Longitude State Code
0                  Mahalo  34.017606 -118.487267         CA
1                 Ustream  37.392936 -122.079480         CA
2                SodaHead  37.269175 -119.306607         CA
3            Funny Or Die  37.421621 -122.137444         CA
4                 Seesmic  37.775196 -122.419204         CA
..                    ...        ...         ...        ...
138  Global Fitness Media  34.054318 -118.462876         CA
139           CrowdGather  34.168955 -118.575293         CA
140       High Gear Media  37.445335 -122.158330         CA
141               Teambox  41.406335    2.192023         CA
142           Culture Jam  34.013715 -118.466060         CA

[143 rows x 4 columns]

## Google API

In [17]:
from dotenv import load_dotenv
load_dotenv()
apiKey = os.getenv("google_key")
url = f"https://maps.googleapis.com/maps/api/place/textsearch/json?query=starbucks+in+CA&key={apiKey}"
res = requests.get(url)

In [18]:
res = res.json()

In [19]:
from dotenv import load_dotenv
load_dotenv()
apiKey = os.getenv("google_key")
url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
#query=starbucks+in+CA&key={apiKey}&pageToken=res['next_page_token']"
res = requests.get(url)
res = res.json()

In [20]:
def getData(query, page_token=None):
    url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    params = {"key":os.getenv("google_key"), "query":query}
    if page_token:
        params["pageToken"]=page_token
    res = requests.get(url, params=params)
    res = res.json()
    results = res["results"]
    if 'next_page_token' in res.keys():
        page_token = res['next_page_token']
        results=[results, page_token]
    else: 
        results=[results,False]
    return results

In [21]:
def getLocations(query, limit=50):
    data = []
    page_token = None
    while len(data)<limit:
        results, page_token = getData(query, page_token)
        data+=results
        if not page_token: 
            break
    return data

##  Función para calcular distancias

In [22]:
def FindDistances(req):
    d=[]
    for i in offices.index:
        d_list=[]
        for ind in req.index: 
            x = req['Latitude'][ind]
            y = req['Longitude'][ind] 
            distance = (((x-(offices['Latitude'][i]))**2)+((y-(offices['Longitude'][i]))**2))**(1/2)
            d_list.append(distance)
        d.append(min(d_list))
    offices['New'] = d

## Starbucks

In [25]:
data = getLocations("starbucks in CA", 100)
dataset = pd.DataFrame(data)

In [27]:
starbucks = []
for st in dataset["geometry"]:
    new_dict={}
    new_dict["Latitude"]= st['location']['lat']
    new_dict["Longitude"]= st['location']['lng']
    starbucks.append(new_dict)

In [28]:
starbucks = pd.DataFrame(starbucks)
starbucks

     Latitude   Longitude
0   34.072428 -117.881891
1   37.291159 -121.989834
2   37.762265 -121.433395
3   38.714409 -120.839673
4   38.762384 -120.576595
..        ...         ...
95  37.426867 -122.144091
96  35.368910 -119.018524
97  38.013442 -121.868315
98  33.649162 -117.830863
99  34.136322 -118.150251

[100 rows x 2 columns]

In [29]:
def transformToGeoPoint(s):
    if np.isnan(s.Latitude) or np.isnan(s.Longitude):
        return None
    return {
        "type":"Point",
        "coordinates":[s.Longitude, s.Latitude]
    }
starbucks["geopoint"] = starbucks.apply(transformToGeoPoint, axis=1)
starbucks

     Latitude   Longitude                                           geopoint
0   34.072428 -117.881891  {'type': 'Point', 'coordinates': [-117.881891,...
1   37.291159 -121.989834  {'type': 'Point', 'coordinates': [-121.9898337...
2   37.762265 -121.433395  {'type': 'Point', 'coordinates': [-121.4333954...
3   38.714409 -120.839673  {'type': 'Point', 'coordinates': [-120.839673,...
4   38.762384 -120.576595  {'type': 'Point', 'coordinates': [-120.5765954...
..        ...         ...                                                ...
95  37.426867 -122.144091  {'type': 'Point', 'coordinates': [-122.144091,...
96  35.368910 -119.018524  {'type': 'Point', 'coordinates': [-119.0185241...
97  38.013442 -121.868315  {'type': 'Point', 'coordinates': [-121.868315,...
98  33.649162 -117.830863  {'type': 'Point', 'coordinates': [-117.8308631...
99  34.136322 -118.150251  {'type': 'Point', 'coordinates': [-118.150251,...

[100 rows x 3 columns]

In [30]:
FindDistances(starbucks)

In [31]:
offices = offices.rename(columns={"New":"Starbucks"})

## Bars

In [ ]:
data = getLocations("bars in CA", 100)
dataset = pd.DataFrame(data)